<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.audiolaby">


    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".Audiolaby_"
        android:allowBackup="false"
        android:configChanges="orientation"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup">

        <activity
            android:name=".view.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".view.activity.IntroActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.activity.IntroductionActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name=".view.activity.SignInActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name=".view.activity.SignUpActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.activity.ForgottenPasswordActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.activity.MainActivity_"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.activity.AudioDetailsActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".view.activity.MoreActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.activity.MyLibraryActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.activity.SearchResultActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".view.activity.MyWishlistActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".view.activity.SettingActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".view.activity.DonateActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="audiolaby.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value="
            com.audiolaby.persistence.model.User,
        com.audiolaby.persistence.model.AudioArticle,
        com.audiolaby.persistence.model.Part,
        com.audiolaby.persistence.model.VoiceOver,
        com.audiolaby.persistence.model.Author,
        com.audiolaby.persistence.model.SectionItem,
        com.audiolaby.persistence.model.Section,
        com.audiolaby.persistence.model.Cover,
        com.audiolaby.persistence.model.Section,
        com.audiolaby.persistence.model.Category,
        com.audiolaby.persistence.model.WishListItem" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name" />


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider450930691971362"
            android:exported="true" />

        <service android:name=".receiver.FirebasePushService_">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".receiver.FirebasePushIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.ConnectionReceiver_"
            android:label="ConnectionReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <service android:name=".receiver.DownloadService_" />


        <service
            android:name=".view.player.MusicService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="com.audiolaby.view.player.MusicService.MusicService.MY_SERVICE" />

            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity android:name="com.facebook.CustomTabMainActivity" />
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:authorities="com.audiolaby.FacebookInitProvider"
            android:exported="false"
            tools:replace="android:authorities" />



        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.audiolaby"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>



</manifest>
